<%eldest_director = Director.order(dob: :asc).first%>
<%name = eldest_director.name%>
<%date = eldest_director.dob.to_s%>
<%formatted_date = Date.parse(date).strftime("%B %d, %Y")%>


<h1>Eldest Director</h1>

The eldest director in our dataset right now is <a href="/directors/<%=eldest_director.id%>"><%=name%></a>, born on <%=formatted_date%>.

